.roundImage {
    border-radius: 50%;
    border: solid fuchsia 1px;
    margin: 1.5em 1em 0 0;
    float: left;
    animation: roundImg 5s infinite;
}
@keyframes roundImg{
    50% {box-shadow: 0px 0px 10px dodgerblue;}
}
